<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10.01</key>
	<string>with two principal operations: push: which adds an element to the collection, and pop: which removes the most recently added element that was not yet removed</string>
	<key>10.1</key>
	<string>The name &quot;stack&quot; for this type of structure comes from the analogy to a set of physical items stacked on top of each other, which makes it easy to take an item off the top of the stack.</string>
	<key>10.2</key>
	<string>While getting to an item deeper in the stack may require taking off multiple other items first.</string>
	<key>10.3</key>
	<string>Considered as a linear data structure, or more abstractly a sequential collection, the push and pop operations occur only at one end of the structure, referred to as the top of the stack.</string>
	<key>10.4</key>
	<string>This makes it possible to implement a stack as a singly linked list and a pointer to the top element.</string>
	<key>11.1</key>
	<string>A stack may be implemented to have a bounded capacity. If the stack is full and does not contain enough space to accept an entity to be pushed, the stack is then considered to be in an overflow state.</string>
	<key>11.2</key>
	<string>The pop operation removes an item from the top of the stack.</string>
	<key>11.3</key>
	<string>Pop doi tuong ra khoi Data</string>
	<key>11.4</key>
	<string>Pop doi tuong ra khoi Data</string>
	<key>11.5</key>
	<string>Push doi tuong vao data</string>
	<key>11.6</key>
	<string>Push doi tuong vao data</string>
	<key>11.7</key>
	<string>Data</string>
</dict>
</plist>
