<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>First, &quot;4&quot; and &quot;3&quot; are compared. &quot;4&quot; is greater than &quot;3&quot;.</string>
	<key>12</key>
	<string>Therefore, &quot;4&quot; is swapped with &quot;3&quot;. Now, the number on the left is smaller than the number on the right.</string>
	<key>13</key>
	<string>Now, we continue &quot;bubbling&quot; to the right and compare &quot;4&quot; with &quot;2&quot;. </string>
	<key>14</key>
	<string>&quot;4&quot; is greater than &quot;2&quot;, so these numbers get swapped.</string>
	<key>15</key>
	<string>This time &quot;4&quot; is smaller than &quot;7&quot;, so no swap is needed.</string>
	<key>16</key>
	<string>Continue bubbling to the right and compare &quot;7&quot; and &quot;0&quot;. </string>
	<key>17</key>
	<string>Obviously, these numbers need to be swapped.</string>
	<key>18</key>
	<string>&quot;7&quot; is compared to &quot;8&quot;. We do not need to swap these two numbers. </string>
	<key>18.1</key>
	<string>Now, we have reach the right end of the list. In one round of operations, the greatest number in the list has moved to the right end and is in a correct position.</string>
	<key>19</key>
	<string>Next step, we come back to the front of the list and repeat the &quot;bubbling&quot; operation. This time, &quot;3&quot; is compared to &quot;2&quot;.</string>
	<key>20</key>
	<string>Swap &quot;3&quot; with &quot;2&quot;.</string>
	<key>21</key>
	<string>&quot;3&quot; and &quot;4&quot; are now compared to each other. They are in the right order so no swap is needed.</string>
	<key>22</key>
	<string>Compare &quot;4&quot; and &quot;0&quot;.</string>
	<key>23</key>
	<string>Swap &quot;4&quot; and &quot;0&quot;.</string>
	<key>24</key>
	<string>Compare &quot;4&quot; and &quot;7&quot;. No swap is needed. Now, &quot;7&quot; is in correct position.</string>
	<key>25</key>
	<string>We comeback to the front of the list and compare &quot;2&quot; and &quot;3&quot;. No swap is needed.</string>
	<key>26</key>
	<string>Compare &quot;3&quot; and &quot;0&quot;.</string>
	<key>27</key>
	<string>Swap &quot;3&quot; and &quot;0&quot;.</string>
	<key>28</key>
	<string>Compare &quot;3&quot; and &quot;4&quot;. No swap is needed. Now, &quot;4&quot; is in correct position.</string>
	<key>29</key>
	<string>Back to the front of the list and compare &quot;2&quot; and &quot;0&quot;.</string>
	<key>30</key>
	<string>Swap &quot;2&quot; and &quot;0&quot;.</string>
	<key>31</key>
	<string>Compare &quot;2&quot; and &quot;3&quot;. No swap is needed. Now, &quot;3&quot; is in correct position.</string>
	<key>32</key>
	<string>Compare &quot;0&quot; and &quot;2&quot;. No swap is needed. Now, &quot;0&quot; and &quot;2&quot; are in correct positions.</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
