<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00.4</key>
	<string>To begin, the first number is considered fully sorted and is placed in the sorted list.</string>
	<key>01</key>
	<string>The first number of the remaining list (unsorted list) is taken out, and compared to the number to its left.</string>
	<key>02</key>
	<string>&quot;3&quot; is smaller than &quot;4&quot;, ...</string>
	<key>03</key>
	<string>so &quot;3&quot; is inserted before &quot;4&quot; in the sorted list.</string>
	<key>04</key>
	<string>so &quot;3&quot; is inserted before &quot;4&quot; in the sorted list.</string>
	<key>05</key>
	<string>Again, the first number of the unsorted list, which is &quot;2&quot;, is taken out and compared to its left. </string>
	<key>06</key>
	<string>&quot;2&quot; is smaller than &quot;4&quot;, ...</string>
	<key>07</key>
	<string>so &quot;2&quot; should be inserted before &quot;4&quot;. Now, &quot;2&quot; is compared to the next number in the sorted list, which is &quot;3&quot;.</string>
	<key>08</key>
	<string>&quot;2&quot; is smaller than &quot;3&quot;, ...</string>
	<key>09</key>
	<string>so &quot;2&quot; is inserted before &quot;3&quot; in the sorted list. </string>
	<key>10</key>
	<string>so &quot;2&quot; is inserted before &quot;3&quot; in the sorted list. </string>
	<key>11</key>
	<string>Again, the first number of the unsorted list, which is &quot;7&quot;, is taken out and compared to its left. </string>
	<key>12</key>
	<string>&quot;7&quot; is greater than &quot;4&quot;, so &quot;7&quot; is inserted after &quot;4&quot; in the sorted list.</string>
	<key>13</key>
	<string>Again, the first number of the unsorted list, which is &quot;0&quot;, is taken out and compared to its left. </string>
	<key>14</key>
	<string>&quot;0&quot; is smaller than &quot;7&quot;, ...</string>
	<key>15</key>
	<string>so &quot;0&quot; should be inserted before &quot;7&quot;. Now, &quot;0&quot; is compared to the next number in the unsorted list, which is &quot; 4&quot;.</string>
	<key>16</key>
	<string>&quot;0&quot; is smaller than &quot;4&quot;, ...</string>
	<key>17</key>
	<string>so &quot;0&quot; should be inserted before &quot;4&quot;. Now, &quot;0&quot; is compared to the next number in the unsorted list, which is &quot; 3&quot;.</string>
	<key>18</key>
	<string>&quot;0&quot; is smaller than &quot;3&quot;, ...</string>
	<key>19</key>
	<string>so &quot;0&quot; should be inserted before &quot;3&quot;. Now, &quot;0&quot; is compared to the next number in the unsorted list, which is &quot; 2&quot;.</string>
	<key>20</key>
	<string>&quot;0&quot; is smaller than &quot;2&quot;, ...</string>
	<key>21</key>
	<string>so &quot;0&quot; is inserted before &quot;2&quot; in the sorted list.</string>
	<key>22</key>
	<string>so &quot;0&quot; is inserted before &quot;2&quot; in the sorted list.</string>
	<key>23</key>
	<string>Again, the first number of the unsorted list, which is &quot;8&quot;, is taken out and compared to its left. </string>
	<key>24</key>
	<string>&quot;8&quot; is greater than &quot;7&quot;, so &quot;8&quot; is inserted after &quot;7&quot; in the sorted list.</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
