<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<string>First, the list is divided into two sublists.</string>
	<key>02</key>
	<string>Continue to divide the sublist to the left into halves.</string>
	<key>03</key>
	<string>When the number of elements of the sublist is one, the division is complete.</string>
	<key>04</key>
	<string>Now, two child sublists are combined. While being combined, these numbers are put in order from smallest to largest.</string>
	<key>05</key>
	<string>Continue to merge the two sublists on the left.</string>
	<key>06</key>
	<string>Again, divide the sublist to the right into halves.</string>
	<key>07</key>
	<string>When the number of elements of the sublist is one, the division is complete.</string>
	<key>08</key>
	<string>Now, two child sublists are combined. </string>
	<key>09</key>
	<string>Continue to merge the two sublists on the right.</string>
	<key>10</key>
	<string>Continue to merge the two child sublists until we have a fully sorted list.</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
