<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10.1</key>
	<string>Obeying the following simple rules:</string>
	<key>11.1</key>
	<string>- Disk can only be moved if it is the uppermost disk on a stack.</string>
	<key>11.2</key>
	<string>- Only one disk can be moved at a time.</string>
	<key>11.4</key>
	<string>- No large disk can sit over a small disk.</string>
	<key>12</key>
	<string></string>
	<key>13.1</key>
	<string>Step 1: Move disk 1 from rod A to rod C. </string>
	<key>13.2</key>
	<string>Step 2: Move disk 2 from rod A to rod B.</string>
	<key>13.3</key>
	<string>Step 3: Move disk 1 from rod C to rod B.</string>
	<key>13.4</key>
	<string>Step 4: Move disk 3 from rod A to rod C.</string>
	<key>13.5</key>
	<string>Step 5: Move disk 1 from rod B to rod A.</string>
	<key>13.6</key>
	<string>Step 6: Move disk 2 from rod B to rod C.</string>
	<key>13.7</key>
	<string>Step 7: Move disk 1 from tower A to tower C.</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
